/* Skills (mobile vesrion)*/
#skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: skills;
}

#skills-title {
    color: var(--gray2-color);
    align-self: stretch;

    /* Titulo */
    font-size: 1.5rem;
    font-weight: 600;
}

#skills-list {
    display: flex;
    flex-direction: column;
}

.skills-ul {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    gap: 0.5rem;
}

.skills-ul>li {
    color: var(--gray, #828282);

    font-size: 1.5rem;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*      Skill bars */
.gray-bar {
    display: flex;
    width: 60.466%;
    min-width: 11.188rem;
    max-width: 16.25rem;
    height: 0.625rem;
    background: var(--gray3-color);
}

.skill-bar-html {
    position: absolute;
    width: 46.56%;
    min-width: 10.438rem;
    max-width: 14.375rem;
    height: inherit;
    background: var(--blue-color);
}

.skill-bar-css {
    position: absolute;
    width: 40.689%;
    min-width: 9.125rem;
    max-width: 12.563rem;
    height: inherit;
    background: var(--blue-color);
}

.skill-bar-js {
    position: absolute;
    width: 46.56%;
    min-width: 10.438rem;
    max-width: 14.375rem;
    height: inherit;
    background: var(--blue-color);
}

.skill-bar-react {
    position: absolute;
    width: 40.689%;
    min-width: 9.125rem;
    max-width: 12.563rem;
    height: inherit;
    background: var(--blue-color);
}

/* End of Skills (mobile vesrion)*/

@media only screen and (min-width: 1100px) {
    #skills {
        min-width: 44.25rem;
        align-self: flex-start;
        padding: 16px;
    }

    #skills-title {
        line-height: 1.813rem;
    }

    #skills-list {
        display: flex;
        width: 67.29%;
        min-width: 29.6875rem;
        padding: 0 16px;
        margin-bottom: 35.04px;
        align-self: center;
        justify-content: center;
        align-items: center;

    }

    #skills>div>ul {
        display: flex;
        padding: 8px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
    }

    #skills>div>ul>li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        line-height: 1.813rem;
    }

}